*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    display: flex;
    gap: 10vw ;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.card1,
.card2{
    color: rgba(254,254,254,0.4);
    font-size: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    background-color: #222;
    display: grid;
    place-items: center;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
span{
    color: rgba(254,254,254,0.4);
    z-index: 10;
}
/* hover design for card1 */
.card1::before{
    content: '';
    position: absolute;
    width: 350px;
    height: 500px;
    background-color:tomato;
    border-radius: 15px;
    transition: 0.5s;
    z-index: -1;
    animation: animate 2s linear infinite;
}
.card1:hover::before{
    height: 512px;
    width: 362px;
}

@keyframes animate{
    50%{
        filter: hue-rotate(350deg);
    }
}

/* 2nd card border hover animation */
.card2{
    overflow:hidden;
}
.card2::before{
    content: '';
    position: absolute;
    height: 50%;
    width: 180%;
    background-color: #fff;
    transform: rotate(-45deg);
    background-color: tomato;

}
.card2::after{
    content: '';
    position: absolute;
    inset: 5px;
    background-color: #222;
    border-radius: 10px;
}

.card2:hover::before{
    animation: animate2 2s linear infinite;
   
}
@keyframes animate2 {
    from{
        transform: rotate(0deg);
        filter: hue-rotate(180deg);
    }
    to{
        transform: rotate(360deg);
        filter: hue-rotate(350deg);
    }
}